---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro"
import Header from "../../components/Header.astro";
import Section from "../../components/Section.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");
  return recipes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, subtitle, ingredients } = entry.data
---

<Layout title={title}>
  <div class="wrapper">
    <Header />
    <div class="grow">
      <Section maxWidth="50rem">
        <h1 class="crimson-pro">{title}</h1>
        {subtitle && <p class="subtitle crimson-pro">"{subtitle}"</p>}
        <h2 class="crimson-pro">Ingredients</h2>
        <ul>
          {ingredients.map((ingredient) => (
            <li><p>{ingredient}</p></li>
          ))}
        </ul>
        <h2 class="crimson-pro">Preparation</h2>
        <div class="flow">
          <Content />
        </div>
      </Section>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  h1 {
    border-bottom: 1px solid #B42F2F;
    font-size: 2.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    position: relative;
  }
  h1::before {
    color: #B42F2F;
    content: "Name:" / " ";
    font-size: 1rem;
    position: absolute;
    bottom: 80%;
  }
  .subtitle {
    color: #B42F2F;
    font-size: 1.75rem;
    font-style: italic;
    margin-bottom: 0.5rem;
  }
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .grow {
    flex-grow: 1;
  }
</style>
