---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Guild Play">
	<Header />
	<main>
		<h1>This is some title text</h1>
		Insert content here
	</main>
</Layout>

<style>
</style>
