---
import Layout from '../layouts/Layout.astro';
import ContentGrid from "../components/ContentGrid.astro";
import ContentItem from "../components/ContentItem.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
import Header from '../components/Header.astro';
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
---

<Layout title="Guild Play">
	<Header />
	<main>
		<Section dark>
			<SectionTitle>Games for you to play while we are on strike</SectionTitle>
			<ContentGrid>
				<ContentItem name="Frogger" href="#" image="https://placehold.co/1600x900" />
				<ContentItem name="Strikle" href="#" image="https://placehold.co/1600x900" />
				<ContentItem name="Connections" href="#" image="https://placehold.co/1600x900" />
				<ContentItem name="Stacker" href="#" image="https://placehold.co/1600x900" />
				<ContentItem name="Memory Game" href="#" image="https://placehold.co/1600x900" />
			</ContentGrid>
    </Section>
    <Section dark>
      <SectionTitle>We heard you like cooking, here's our cookbook</SectionTitle>
      <ContentGrid>
        {
          recipes.map((entry) => (
            <ContentItem
              name={entry.data.title}
              href={`recipes/${entry.slug}`}
              image="https://placehold.co/1600x900"
            />
          ))
        }
      </ContentGrid>
    </Section>
  </main>
</Layout>
