---
interface Props {
    name: string;
    image: string;
    href: string;
    showName?: boolean;
}

const { name, image, href, showName = true } = Astro.props;
---

<div class="item">
  <a href={href}>
    {showName && <h3>{name}</h3>}
    <img src={image} alt={showName ? '' : name } loading="lazy" />
  </a>
</div>

<style>
  .item {
    width: auto;
  }

  .item a {
    display: flex;
    flex-direction: column-reverse;
  }

  img {
    width: 100%;
    height: auto;
    padding-bottom: 16px;
  }

  h3 {
    line-height: 1.33;
  }
</style>
