---
interface Props {
    dark?: boolean;
    maxWidth?: string;
}

const { dark = false, maxWidth = "90rem" } = Astro.props;
---

<section class={dark ? 'dark' : ''}>
    <div class="wrapper" style={`--maxW: ${maxWidth}`}>
      <slot />
    </div>
</section>

<style>
    section {
        color: black;
        padding: 32px;
    }

    section :global(a) {
        color: black;
        text-decoration: none;
    }

    section :global(a):hover {
        color: black;
        text-decoration: none;
    }

    section.dark {
        background-color: #290e0d;
        color: white;
    }

    section.dark :global(a) {
        color: white;
    }

    section.dark :global(a):hover {
        color: white;
    }
    .wrapper {
        max-width: var(--maxW, 90rem);
        margin: 0 auto;
    }
</style>
