---

---

<h2>
    <slot />
</h2>

<style>
    h2 {
        text-transform: uppercase;
        font-size: 32px;
        line-height: 44px;
        text-align: left;
        margin-bottom: 24px;
    }
</style>
